<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.clientHome.dao.ClientHomeDao">
    <!--获取热门位商品展示数量-->
    <select id="getHotGoodsShowNum" resultType="int">
        select
           public_type hotGoodsShowNum
        from t_sys_dictionary
        where dict_name = 'hot_goods_show_num'
    </select>

    <!--查询首页轮播图-->
    <select id="getListSlideshow" resultType="com.xzsd.app.clientHome.entity.RotationInfo">
        select
            slideshow_path slideshowPath,
            goods_id goodsId
        from t_info_slideshow_home
        where slideshow_state_id = 1
        and is_delete = 0
        and now() between start_time and end_time
    </select>

    <!--查询热门位商品-->
    <select id="getListHotGoods" parameterType="com.xzsd.app.clientHome.entity.HotGoodInfo"
            resultType="com.xzsd.app.clientHome.entity.HotGoodInfo">
        select
        a.goods_id goodsId,
        b.goods_name goodsName,
        b.goods_image_path goodsImagePath,
        b.goods_price goodsPrice
        from t_info_hot_goods a,
             t_info_goods b
        where a.goods_id = b.goods_id
        order by a.slideshow_num asc
        limit #{hotGoodsShowNum}
    </select>
</mapper>