<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.manangerOrder.dao.ManagerOrderDao">
    <!--修改店长订单状态-->
    <update id="updateManangerOrderState" parameterType="com.xzsd.app.manangerOrder.entity.ManagerOrderInfo">
        update t_info_order
        set
            order_state = #{orderStateId},
            update_user = #{userId},
            update_time = now(),
            version = version + 1
        where order_id = #{orderId}
        and version = #{version}
    </update>
    <!--查询门店详情-->
    <select id="getStore" parameterType="java.lang.String" resultType="com.xzsd.app.manangerOrder.entity.ManagerOrderInfo">
        select
            store_id storeId
        from t_info_store
        where is_delete = 0
        and user_id = #{managerId}
    </select>
    <!--订单跟商品映射-->
    <resultMap id="orderMap" type="com.xzsd.app.clientOrder.entity.ClientOrderInfo">
        <id property="orderId" column="order_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="orderAllCost" column="order_all_cost"/>
        <result property="orderStateId" column="order_state"/>
        <result property="orderAllGoodsCount" column="order_all_goods_count"/>
        <result property="version" column="version"/>
        <result property="crateTime" column="create_time"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="phone" column="phone"/>
        <collection property="goodsList" ofType="com.xzsd.app.clientOrder.entity.GoodsInfo" select="orderGoods" column="{orderId=order_id}">
            <result property="goodsId" column="goods_id"/>
            <result property="goodsImagePath" column="goods_image_path"/>
            <result property="goodsName" column="goods_name"/>
            <result property="goodsDescribe" column="goods_describe"/>
            <result property="goods_price" column="goods_price"/>
            <result property="cartGoodsCount" column="goods_count"/>
        </collection>
    </resultMap>
    <!--查询订单列表-->
    <select id="listOrder" parameterType="com.xzsd.app.clientOrder.entity.ClientOrderInfo" resultMap="orderMap">
        select
        a.order_id orderId,
        a.order_all_cost orderAllCost,
        a.order_state orderStateId,
        a.order_all_goods_count orderAllGoodsCount,
        a.version version,
        b.user_id userId,
        b.user_name userName,
        b.phone
        from t_info_order a
        left join t_sys_user b on (a.user_id = b.user_id and b.is_delete = 0)
        where a.is_delete = 0
        and a.store_id = #{storeId}
        <if test="orderStateId != null and orderStateId != ''">
            AND a.order_state = #{orderStateId}
        </if>
        order by a.create_time desc
    </select>
    <!--查询商品列表-->
    <select id="orderGoods" parameterType="com.xzsd.app.clientOrder.entity.ClientOrderInfo" resultType="com.xzsd.app.clientOrder.entity.GoodsInfo">
        select
            a.goods_count cartGoodsCount,
            a.goods_id goodsId,
            b.goods_image_path goodsImagePath,
            b.goods_name goodsName,
            b.goods_describe goodsDescribe,
            b.goods_price goodsPrice
        from t_info_order_deepen a
        left join t_info_goods b on (a.goods_id = b.goods_id and b.is_delete = 0)
        where a.is_delete = 0
        and a.order_id = #{orderId}
        order by a.create_time desc ,
                 b.create_time desc
    </select>
    <!--查询订单详情-->
    <select id="listOrderDeepen" parameterType="java.lang.String" resultMap="orderMap">
        select
            a.order_id,
            a.order_all_cost orderAllCost,
            a.order_all_goods_count orderAllGoodsCount,
            b.store_name storeName,
            b.address,
            a.order_state orderStateId,
            c.goods_id goodsId,
            d.goods_image_path goodsImagePath,
            d.goods_name goodsName,
            d.goods_price goodsPrice,
            c.goods_count cartGoodsCount,
            a.create_time crateTime,
            e.area_name provinceName,
            f.area_name cityName,
            g.area_name areaName,
            u.user_name,
            u.phone
        from  t_info_area_level e,
              t_info_area_level f,
              t_info_area_level g,
              t_info_order a
        left join t_sys_user u on (a.user_id = u.user_id and u.is_delete = 0)
        left join t_info_store b on (a.store_id = b.store_id and b.is_delete = 0)
        left join t_info_order_deepen c on (a.order_id = c.order_id and c.is_delete = 0)
        left join t_info_goods d on (c.goods_id = d.goods_id and d.is_delete = 0)
        where a.is_delete = 0
        and a.order_id = #{orderId}
        and b.province_id = e.area_id
        and b.city_id = f.area_id
        and b.area_id = g.area_id
        order by a.create_time desc ,
                 c.create_time desc ,
                 d.create_time desc
    </select>

</mapper>